[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
pillow = "*"
requests = "*"
plotly = "*"
pandas = "*"
importlib-resources = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
